<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osman.orders">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".RecipeDetailActivity"
            android:parentActivityName=".RecipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecipeActivity"/>
        </activity>

        <activity android:name=".TopLevelActivity" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OrderEdit" />
        <activity android:name=".OrderAdd" />

        <activity android:name=".MainActivity"
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity"/>
        </activity>

        <activity android:name=".RecipeActivity">
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity"/>
        </activity>

        <activity android:name=".TipActivity">
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLevelActivity"/>
        </activity>



        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9090524505223693~6732044329" />


    </application>

</manifest>