<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osman.orders">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.example.osman.orders.RecipeDetailActivity"
            android:parentActivityName="com.app.example.osman.orders.RecipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.example.osman.orders.RecipeActivity" />
        </activity>


        <activity android:name="com.app.example.osman.orders.TopLevelActivity" />
        <activity android:name="com.app.example.osman.orders.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.example.osman.orders.OrderEdit" />
        <activity android:name="com.app.example.osman.orders.OrderAdd" />
        <activity
            android:name="com.app.example.osman.orders.MainActivity"
            android:parentActivityName="com.app.example.osman.orders.TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.example.osman.orders.TopLevelActivity" />
        </activity>
        <activity android:name="com.app.example.osman.orders.RecipeActivity">
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.example.osman.orders.TopLevelActivity" />
        </activity>
        <activity android:name="com.app.example.osman.orders.TipActivity">
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.example.osman.orders.TopLevelActivity" />
        </activity>

        <activity android:name="com.app.example.osman.orders.OtherActivity" >
            android:parentActivityName=".TopLevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.example.osman.orders.TopLevelActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9090524505223693~6732044329" />

        <receiver android:name="com.app.example.osman.orders.MyReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>